* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* svg */
#filter-icon {
   width: 24px;
   height: 24px;
   fill: none;
   stroke: currentColor;
   stroke-width: 2;
   stroke-linecap: round;
   stroke-linejoin: line;
}